
* {
    font-size: 6pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.full-year>div {

    width: 2.4in;
    margin: 6px;
    display: inline-block;
    height: 2.5in;  
}
div.full-year>div caption {
    font-size: 250%;
    font-weight: bolder;
    padding-bottom: 6px;
}
div.full-year>div td {
    border: solid 1px black;    
    text-align: center;
    height: .27in;
    font-size: 7pt;
    width: .31in;
}
div.full-year>div table {
    border-collapse: collapse;
}
h1 {
    font-size: 30pt;
    text-align: center;
}
.unused{
    background-color: pink;
}
